#### Attention!
This SDK is for [Developer Hub API](https://gateway-admin.trulioo.com) only.

# {{projectDescription}}

- Package version: {{artifactVersion}}
- API version: {{appVersion}}
- Build package: {{generatorClass}}

## Installation

This SDK targets JavaScript ECMAScript 6.

### With [npm](https://www.npmjs.com/)

```shell
npm install {{{packageName}}}
```

## Sample Application

Check out our sample application for this SDK in the
[sample-app](https://github.com/{{gitUserId}}/{{gitRepoId}}/tree/{{artifactVersion}}/sample-app) folder.

## Getting Started

### Example of testing authentication (ES6)

```javascript
const Trulioo = require('trulioo-sdk');

// Configure API key authorization
Trulioo.ApiClient.instance.authentications['ApiKeyAuth'].apiKey = 'YOUR-X-TRULIOO-API-KEY';

// Construct instance of ConnectionApi
const connectionApi = new Trulioo.ConnectionApi(apiClient);

// Configure mode: 'trial' or 'live'
const mode = 'trial';

// Call ConnectionApi#testAuthentication
(async () => {
  try {
    const result = await connectionApi.testAuthentication(mode);
    console.log(result);
  } catch (error) {
    console.log('Error when calling ConnectionApi#testAuthentication');
    console.log(`Status code:      ${error.status}`);
    console.log(`Reason:           ${error.response.body}`);
    console.log(`Response headers: ${JSON.stringify(error.response.headers)}`);
  }
})();
```

## Testing

This project uses [Mocha](https://mochajs.org/) for unit testing and [Istanbul](https://istanbul.js.org/) for code
coverage. Configuration is located in `package.json`.

```bash
npm install
npm test
```

## Documentation for APIs

All URIs are relative to *{{basePath}}*.

Class | Method | HTTP request | Description
------------ | ------------- | ------------- | -------------
{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}*{{moduleName}}.{{classname}}* | [**{{operationId}}**]({{apiDocPath}}{{classname}}.md#{{operationId}}) | **{{httpMethod}}** {{path}} | {{#summary}}{{summary}}{{/summary}}
{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
## Documentation for Models

{{#models}}{{#model}} - [{{moduleName}}.{{classname}}]({{modelDocPath}}{{classname}}.md)
{{/model}}{{/models}}
## Documentation for Authorization
{{^authMethods}}

All endpoints do not require authorization.
{{/authMethods}}
{{#authMethods}}
{{#last}}

Authentication schemes defined for the API:
{{/last}}

### {{name}}
{{#isApiKey}}

- **Type**: API key
- **API key parameter name**: {{keyParamName}}
- **Location**: {{#isKeyInQuery}}URL query string{{/isKeyInQuery}}{{#isKeyInHeader}}HTTP header{{/isKeyInHeader}}
{{/isApiKey}}
{{#isBasic}}
{{#isBasicBasic}}

- **Type**: HTTP basic authentication
{{/isBasicBasic}}
{{#isBasicBearer}}

- **Type**: Bearer authentication{{#bearerFormat}} ({{{.}}}){{/bearerFormat}}
{{/isBasicBearer}}
{{/isBasic}}
{{#isOAuth}}

- **Type**: OAuth
- **Flow**: {{flow}}
- **Authorization URL**: {{authorizationUrl}}
- **Scopes**: {{^scopes}}N/A{{/scopes}}
{{#scopes}}  - {{scope}}: {{description}}
{{/scopes}}
{{/isOAuth}}
{{/authMethods}}
