#### Attention!
This SDK is for [Developer Hub API](https://gateway-admin.trulioo.com) only.

# {{projectDescription}}

- Package version: {{artifactVersion}}
- API version: {{appVersion}}
- Build package: {{generatorClass}}

## Installation & Usage

Python 3.6 or later is required.

### With [pip](https://pip.pypa.io/en/stable/)

```shell
pip install {{packageName}}
```

### With [Setuptools](http://pypi.python.org/pypi/setuptools)

In the root of this SDK, run:

```shell
python setup.py install --user
```

## Sample Application

Check out our sample application for this SDK in the
[sample-app](https://github.com/{{gitUserId}}/{{gitRepoId}}/tree/{{artifactVersion}}/sample-app) folder.


## Getting Started

### Example of testing authentication

```python
from trulioo_sdk import Configuration, ApiException
from trulioo_sdk.apis import ConnectionApi

config = Configuration()

# Configure API key authorization
config.api_key["ApiKeyAuth"] = "YOUR-X-TRULIOO-API-KEY"

# Configure mode: "trial" or "live"
mode = "trial"

# Construct instance of ApiClient with config
api_client = ApiClient(config)

# Construct instance of ConnectionApi with api_client
connectionApi = ConnectionApi(api_client)

# Call ConnectionApi#test_authentication
try:
    result = connectionApi.test_authentication(mode)
    print(result)
except ApiException as e:
    print("Exception when calling ConnectionApi#testAuthentication\n")
    print("Status code:      " + str(e.status))
    print("Reason:           " + str(e.body))
    print("Response headers: " + str(e.headers))
```

## Testing

This project uses [tox](https://tox.readthedocs.io/en/latest/) for consistent testing. Install with `pip install tox`,
then run:

```bash
python -m tox
```

## Documentation for APIs

All URIs are relative to *{{basePath}}*.

Class | Method | HTTP request | Description
------------ | ------------- | ------------- | -------------
{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}*{{classname}}* | [**{{operationId}}**]({{apiDocPath}}{{classname}}.md#{{operationIdLowerCase}}) | **{{httpMethod}}** {{path}} | {{#summary}}{{summary}}{{/summary}}
{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
## Documentation For Models

{{#models}}{{#model}} - [{{{classname}}}]({{modelDocPath}}{{{classname}}}.md)
{{/model}}{{/models}}
## Documentation For Authorization
{{^authMethods}}
 All endpoints do not require authorization.
{{/authMethods}}
{{#authMethods}}
{{#last}} Authentication schemes defined for the API:{{/last}}
## {{{name}}}
{{#isApiKey}}

- **Type**: API key
- **API key parameter name**: {{{keyParamName}}}
- **Location**: {{#isKeyInQuery}}URL query string{{/isKeyInQuery}}{{#isKeyInHeader}}HTTP header{{/isKeyInHeader}}
{{/isApiKey}}
{{#isBasic}}
{{#isBasicBasic}}

- **Type**: HTTP basic authentication
{{/isBasicBasic}}
{{#isBasicBearer}}

- **Type**: Bearer authentication{{#bearerFormat}} ({{{.}}}){{/bearerFormat}}
{{/isBasicBearer}}
{{#isHttpSignature}}

- **Type**: HTTP signature authentication
{{/isHttpSignature}}
{{/isBasic}}
{{#isOAuth}}

- **Type**: OAuth
- **Flow**: {{{flow}}}
- **Authorization URL**: {{{authorizationUrl}}}
- **Scopes**: {{^scopes}}N/A{{/scopes}}
{{#scopes}} - **{{{scope}}}**: {{{description}}}
{{/scopes}}
{{/isOAuth}}
{{/authMethods}}
