{{>partial_header}}

from os import path
from setuptools import setup, find_packages

with open(
    path.join(path.abspath(path.dirname(__file__)), "README.md"), encoding="utf-8"
) as readme_file:
    long_description = readme_file.read()

setup(
    name="{{packageName}}",
    version="{{artifactVersion}}",
    description="{{projectDescription}}",
    long_description=long_description,
    long_description_content_type="text/markdown",
    author="Trulioo",
    author_email="support@trulioo.com",
    url="https://github.com/{{gitUserId}}/{{gitRepoId}}/",
    license="{{licenseName}}",
    keywords=["{{projectDescription}}"],
    packages=find_packages(exclude=["test*"]),
    python_requires=">=3.6",
    install_requires=[
        "urllib3 >= 1.25.3",
        "python-dateutil",
        {{#asyncio}}
        "aiohttp >= 3.0.0",
        {{/asyncio}}
        {{#tornado}}
        "tornado>=4.2,<5",
        {{/tornado}}
        {{#hasHttpSignatureMethods}}
        "pem>=19.3.0",
        "pycryptodome>=3.9.0",
        {{/hasHttpSignatureMethods}}
    ],
)
