[tox]
envlist = py3

[testenv]
deps =
    -r{toxinidir}/requirements.txt
    -r{toxinidir}/test-requirements.txt
commands =
    pytest --cov=trulioo_sdk --cov-report=term --cov-report=html --cov-fail-under=100

[coverage:run]
omit =
    trulioo_sdk/apis/__init__.py
    trulioo_sdk/models/__init__.py
    trulioo_sdk/configuration.py
    trulioo_sdk/api_client.py
    trulioo_sdk/rest.py
    trulioo_sdk/model_utils.py

[coverage:report]
exclude_lines =
    pragma: no cover
    for var_name, var_value in required_args.items()
    not self._additional_properties_model_instances
