#### Attention!
This SDK is for [Developer Hub API](https://gateway-admin.trulioo.com) only.

# {{projectDescription}}

- Package version: {{artifactVersion}}
- API version: {{appVersion}}
- Build package: {{generatorClass}}

## Installation

### With [Composer](http://getcomposer.org/)

PHP 7.2 or later is required.

Run `composer require {{packageName}}` in the root directory of your project, or add this dependency to
`composer.json`:

```json
{
  "require": {
    "{{packageName}}": "^{{artifactVersion}}"
  }
}
```

## Sample Application

Check out our sample application for this SDK in the
[sample-app](https://github.com/{{gitUserId}}/{{gitRepoId}}/tree/{{artifactVersion}}/sample-app) folder.

## Getting Started

### Example of testing authentication

```php
require_once(__DIR__ . '/vendor/autoload.php');

use Trulioo\SDK\Configuration;
use Trulioo\SDK\ApiException;
use Trulioo\SDK\Api\ConnectionApi;

$config = Configuration::getDefaultConfiguration()

// Configure API key authorization
$config->setApiKey('x-trulioo-api-key', 'YOUR-X-TRULIOO-API-KEY');

// Configure mode: 'trial' or 'live'
$mode = 'trial';

// Construct instance of ConnectionApi with default HTTP client and config
$connectionApi = new ConnectionApi(null, $config);

// Call ConnectionApi#testAuthentication
try {
    $result = $connectionApi->testAuthentication($mode);
    echo $result;
} catch (ApiException $e) {
    echo "Exception when calling ConnectionApi#testAuthentication\n";
    echo "Status code:      " . $e->getCode() . "\n";
    echo "Reason:           " . $e->getResponseBody() . "\n";
    echo "Response headers: " . json_encode($e->getResponseHeaders()) . "\n";
}
```

## Testing

Install dependencies with [Composer](http://getcomposer.org/) by running `composer install`, then run:

```bash
./run-tests.sh
```

## Documentation for APIs

All URIs are relative to *{{basePath}}*.

Class | Method | HTTP request | Description
------------ | ------------- | ------------- | -------------
{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}*{{classname}}* | [**{{operationId}}**]({{apiDocPath}}/{{classname}}.md#{{operationIdLowerCase}}) | **{{httpMethod}}** {{path}} | {{#summary}}{{summary}}{{/summary}}
{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
## Documentation for Models

{{#models}}{{#model}}- [{{{classname}}}]({{modelDocPath}}/{{{classname}}}.md){{/model}}
{{/models}}

## Documentation for Authorization
{{^authMethods}}

All endpoints do not require authorization.
{{/authMethods}}
{{#authMethods}}
{{#last}} Authentication schemes defined for the API:{{/last}}
### {{{name}}}
{{#isApiKey}}

- **Type**: API key
- **API key parameter name**: {{{keyParamName}}}
- **Location**: {{#isKeyInQuery}}URL query string{{/isKeyInQuery}}{{#isKeyInHeader}}HTTP header{{/isKeyInHeader}}
{{/isApiKey}}
{{#isBasic}}
{{#isBasicBasic}}

- **Type**: HTTP basic authentication
{{/isBasicBasic}}
{{#isBasicBearer}}

- **Type**: Bearer authentication{{#bearerFormat}} ({{{.}}}){{/bearerFormat}}
{{/isBasicBearer}}
{{/isBasic}}
{{#isOAuth}}

- **Type**: `OAuth`
- **Flow**: `{{{flow}}}`
- **Authorization URL**: `{{{authorizationUrl}}}`
- **Scopes**: {{^scopes}}N/A{{/scopes}}
{{#scopes}}
    - **{{{scope}}}**: {{{description}}}
{{/scopes}}
{{/isOAuth}}
{{/authMethods}}
