
<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <GenerateAssemblyInfo>false</GenerateAssemblyInfo>
    <TargetFramework>{{targetFramework}}</TargetFramework>
    <AssemblyName>{{packageName}}</AssemblyName>
    <PackageId>{{packageName}}</PackageId>
    <OutputType>Library</OutputType>
    <Authors>Trulioo</Authors>
    <Company>Trulioo</Company>
    <AssemblyTitle>{{projectDescription}}</AssemblyTitle>
    <Description>{{projectDescription}}</Description>
    <Copyright>{{packageCopyright}}</Copyright>
    <RootNamespace>{{packageName}}</RootNamespace>
    <Version>{{artifactVersion}}</Version>
    <DocumentationFile>bin\$(Configuration)\$(TargetFramework)\{{packageName}}.xml</DocumentationFile>{{#licenseId}}
    <PackageLicenseExpression>{{licenseId}}</PackageLicenseExpression>{{/licenseId}}
    <RepositoryUrl>https://{{{gitHost}}}/{{{gitUserId}}}/{{{gitRepoId}}}.git</RepositoryUrl>
    <RepositoryType>git</RepositoryType>{{#releaseNote}}
    <PackageReleaseNotes>{{releaseNote}}</PackageReleaseNotes>{{/releaseNote}}{{#packageTags}}
    <PackageTags>{{{packageTags}}}</PackageTags>{{/packageTags}}
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="JsonSubTypes" Version="1.7.0" />
    <PackageReference Include="Newtonsoft.Json" Version="12.0.3" />
    <PackageReference Include="RestSharp" Version="106.11.4" />
    <PackageReference Include="Polly" Version="7.2.0" />
    {{#validatable}}
    <PackageReference Include="System.ComponentModel.Annotations" Version="4.7.0" />
    {{/validatable}}
  </ItemGroup>

</Project>